    html,
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    canvas {
        display: block;
        overflow: hidden;
    }
    
    #key {
        display: block;
        margin: auto;
        padding-top: 50px;
        width: 50%;
        visibility: visible;
        z-index: 0;
        animation-duration: 1s;
    }
    
    img {
        width: 40vw;
        margin: auto;
        text-align: center;
        align-self: center;
        display: block;
    }
    
    p {
        font-family: 'Courier New', Courier, monospace;
        font-weight: normal;
        text-align: left;
        color: aquamarine;
        opacity: 75%;
        font-size: 12px;
        line-height: 150%;
        align-items: center;
    }
    
    a {
        color: aqua;
        opacity: 75%;
        font-style: italic;
        text-decoration: none;
    }
    
    #key.hidden {
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding-top: 10%;
        visibility: hidden;
        z-index: -3;
        animation-duration: 1s;
    }