    html,
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    canvas {
        display: block;
        overflow: hidden;
    }
    
    #key {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 5%;
        visibility: visible;
        z-index: 2;
        animation-duration: 1s;
    }
    
    img {
        width: 40vw;
        margin: auto;
        text-align: center;
        align-self: center;
        display: block;
    }
    
    p {
        font-family: consolas;
        font-size: 12px;
        text-align: center;
        color: aquamarine;
        opacity: 50%;
    }
    
    a {
        color: aqua;
        opacity: 50%;
        font-style: italic;
        text-decoration: none;
    }
    
    #key.hidden {
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding-top: 10%;
        visibility: hidden;
        z-index: -3;
        animation-duration: 1s;
    }